<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AH_Foto_Verarbeitung.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AH_Foto_Verarbeitung.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <AH_Foto_Verarbeitung.My.MySettings>
            <setting name="DestinationFolder" serializeAs="String">
                <value>\\dmfs04\all\Adelholzener\</value>
            </setting>
            <setting name="Mail_Reporting" serializeAs="String">
                <value>christina.jaschowez@combera.com</value>
            </setting>
            <setting name="mb_licence" serializeAs="String">
                <value>MN110-539B64549A169B5F9B3E01B283A3-F80C</value>
            </setting>
            <setting name="web_foto_zip_folder" serializeAs="String">
                <value>\\dmweb03\Adelholzener\Auswertungen\Fotos\</value>
            </setting>
        </AH_Foto_Verarbeitung.My.MySettings>
    </applicationSettings>
    <userSettings>
        <AH_Foto_Verarbeitung.My.MySettings>
            <setting name="ExcelFolder4Reports" serializeAs="String">
                <value>\\dmfs04\all\Adelholzener\</value>
            </setting>
            <setting name="DestinationFolder4POSI" serializeAs="String">
                <value>\\dmfs01\POS-Sales_Programme\Fotos_Temp\</value>
            </setting>
        </AH_Foto_Verarbeitung.My.MySettings>
    </userSettings>
</configuration>
